<script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<!--<link rel="stylesheet" href="bower_components/vaadin-core-elements/vaadin-core-elements.html">-->
<link href="https://cdn.vaadin.com/vaadin-core-elements/latest/vaadin-core-elements/vaadin-core-elements.html" rel="import">

<h3>Hello, {{name}}
    <span ng-if="login" class="btn btn-default pull-right" ng-click="logout()">Logout</span>
</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima.</p>
<div ng-if="!login" class="btn-group">
    <a ng-href="user/register" class="btn btn-primary">Регистрация</a>
    <a ng-href="user/login" class="btn btn-success">Авторизация</a>
</div>

<div ng-if="login" class="profile" ng-controller="ProfileCtrl">
    <div ng-show="userDetails" class="thumbnail">
        <div class="row">
            <div class="col-sm-6">
                <form class="control" ng-submit="edit()">
                    <input class="form-control" type="email" ng-model="data.email" placeholder="Email"><br>
                    <input class="form-control" type="text" ng-model="data.first_name" placeholder="First Name"><br>
                    <input class="form-control" type="text" ng-model="data.last_name" placeholder="Last Name"><br>
                    <input type="text" class="form-control" ng-model="data.phone_number" placeholder="Phone"><br>

                    <vaadin-upload id="profile-upload"
                            max-files="1"
                            method="POST"
                            accept="image/*,video/*"
                            headers={{access_token}}
                            timeout=15000
                    ></vaadin-upload>
                    <br>
                    <div class="wrap text-center">
                        <input type="submit" class="btn btn-primary" value="Сохранить изменения">
                    </div>
                    <br>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <img ng-src="{{avatar}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="btn btn-default" ng-click="userDetails = !userDetails">Редактировать личную информацию <i class="glyphicon glyphicon-chevron-down"></i></div>
    <hr>

    <div ng-controller="ProductCtrl">
        <div class="thumbnail" ng-show="addNewItem" >
            <div class="row">
                <div class="col-sm-12" ng-show="!addPhotography">
                    <h4>Add new item</h4>
                    <form class="control" ng-submit="addNewElement()">
                        <input type="text" class="form-control" placeholder="Name" ng-model="item.name"><br>
                        <textarea class="form-control" cols="10" rows="5" ng-model="item.description" placeholder="Description"></textarea><br>
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <input type="number" class="form-control" placeholder="Price" ng-model="item.price"><br>
                            </div>
                            <div class="col-xs-6 col-sm-8">
                                <b class="pull-right">{{item.price | currency}}</b>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Добавить">
                    </form>
                </div>
            </div>
            <div ng-show="addPhotography">
                <div class="col-sm-6">
                    <h3>{{item.name}}</h3>
                    <p>{{item.description}}</p>
                    <p><b>{{item.price}}</b></p>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="pull-right">
                            <div class="preview thumbnail" ng-if="preview">
                                <img ng-src="{{preview}}" alt="preview">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-12">
                        <hr>
                        <vaadin-upload id="product-upload"
                                       max-files="1"
                                       method="POST"
                                       accept="image/*,video/*"
                                       headers={{access_token}}
                                       timeout=15000
                        ></vaadin-upload>
                    </div>
                </div>
            </div>

        </div>
        <div class="btn btn-default" ng-click="addItem()">Добавить новый товар <i class="glyphicon glyphicon-plus"></i></div>
        <hr>
    </div>
</div>